<!--
    - #HEADER
  -->

<header class="header" data-header>
  <div class="container">

    <a routerLink="/home" class="logo">
      <img src="assets/images/kaan_logo.png" width="153" height="30" alt="Jassa home">
    </a>

    <nav class="navbar" data-navbar [ngClass]="status ? 'active' : ''">
      <ul class="navbar-list">

        <li class="navbar-item">
          <a routerLink="/home" class="label-lg navbar-link has-after" routerLinkActive="active">Home</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/service"  class="label-lg navbar-link has-after" routerLinkActive="active">Skills</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/portfolio"  class="label-lg navbar-link has-after" routerLinkActive="active">Portfolio</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/contact"  class="label-lg navbar-link has-after" routerLinkActive="active">Contact</a>
        </li>

      </ul>
    </nav>

    <a routerLink="/contact" class="btn btn-primary">Contact Now</a>

    <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler (click)="addToggle()">
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>

  </div>
</header>
