<main>
  <article>

    <!--
      - #SERVICE
    -->

    <section class="section service has-bg-image" aria-labelledby="service-label"
             style="background-image: url('assets/images/foto6.png')">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="service-label">Skills</h2>

        <ul class="service-list">

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Software Development</h3>

                <p class="body-sm">
                  I have involved in the software development process of various projects and I have developed codes
                  for different products. I understand the needs of the customers and I am trying to create the best
                  and the most precise features for them.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media">
                <ion-icon name="tv-outline"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Database Management</h3>

                <p class="body-sm">
                  During my professional career, I had a chance to work with MongoDB and MySQL. I have strong knowledge
                  and experience with both these database management applications and I can manage databases, write and
                  read queries when its needed.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

              <div class="card-media">
                <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Version Control Systems, CI / CD</h3>

                <p class="body-sm">
                  I have experience with continous development and continous integration. I have used Bitbucket in my
                  previous experience and I have strong knowledge about Git.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

              <div class="card-media">
                <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Web Design</h3>

                <p class="body-sm">
                  I have developed different websites using Typescript and Angular. I can design responsive web pages
                  and fulfill the needs of the customers. Also, I had meetings with customers directly.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="book-outline"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Communication Skills</h3>

                <p class="body-sm">
                  Besides I love working behind the computer for hours and write codes, It doesn't mean that I don't
                  have the skills to communicate with people. What I heard from my colleagues is that I have strong
                  communication skills and I am fluent in English.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

              <div class="card-media">
                <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Volunteering Activities</h3>

                <p class="body-sm">
                  I have been volunteering in different organisations such as ESN (Erasmus Student Network) which is the
                  biggest student organisation in Europe and I have attended many Erasmus+ projects. I am an active
                  person in general.
                </p>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>
