<main>
  <article>

    <!--
      - #PORTFOLIO
    -->

    <section class="section portfolio" aria-labelledby="portfolio-label">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="portfolio-label">Projects</h2>

        <ul class="portfolio-list">

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/insta2.jpg" width="800" height="540" loading="lazy"
                     alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Web API</span>

                <h3 class="title-md">Instagram API Integration</h3>

                <p class="card-text">
                  I have developed an API for my project-based internship which is aimed to manage different social
                  media accounts in one app and sharing same content at the same time with less effort using
                  .NET framework with ESTER Teknoloji.
                </p>

                <a target="_blank " href="https://github.com/ykaancan/.net-internshipproject" class="btn btn-primary">View Project</a>

              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/itsm.webp" width="800" height="540" loading="lazy"
                     alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Software Development</span>

                <h3 class="title-md">FIMS Project</h3>

                <p class="card-text">
                  I have developed backend services and front-end components for 15 months for ITSM project of one of
                  my previous company FELECE. This project is aimed to manage the business processes with customers.
                </p>

                <a target="_blank " href="https://felece.com/felece-cozumlerimiz/itsm-cozumu-fims" class="btn btn-primary">View Project</a>

              </div>

            </div>
          </li>

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                <img src="./assets/images/sentie.png" width="800" height="540" loading="lazy"
                     alt="Website Design for Marketing Agency Startup" class="img-cover">

                <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                  <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                </a>
              </div>

              <div class="card-content">

                <span class="chip label-md">Sentiment Analysis</span>

                <h3 class="title-md">Sentiment Analysis Using Machine Learning</h3>

                <p class="card-text">
                  I have developed an application which is doing sentiment analysis by text using artificial
                  intelligence. Project is named SENTIE and we developed this for our thesis project with a friend
                  of mine.
                </p>

                <a href="https://github.com/kroanke/SENTIE" target="_blank" class="btn btn-primary">View Project</a>

              </div>

            </div>
          </li>


        </ul>

      </div>
    </section>

  </article>
</main>
