<main>
  <article>

    <!--
      - #HERO
    -->

    <section class="section hero" aria-label="home">
      <div class="container">

        <div class="hero-content">

          <p class="hero-subtitle">My name is Kaan</p>

          <h1 class="headline-lg">I'm a Full-Stack Developer</h1>

          <p class="hero-text body-md">
            Based in Eskişehir, Türkiye.
          </p>

          <a href="#" class="btn btn-primary">Let's Start</a>

        </div>

        <figure class="hero-banner">
          <img src="assets/images/3.png" width="750" height="645"
               alt="Kaan" class="w-100">
        </figure>

      </div>
    </section>





    <!--
      - #CLIENT
    -->

    <section class="client" aria-label="Trusted client">
      <div class="container">

        <ul class="slider">

        </ul>

      </div>
    </section>





    <!--
      - #ABOUT
    -->

    <section class="section about" aria-label="about me">
      <div class="container">

        <figure class="about-banner">
          <img src="assets/images/foto5.png" width="580" height="554" loading="lazy"
               alt="Jassa, the blonde, dressed in a black tops with a smile on her face" class="w-100">
        </figure>

        <div class="about-content">

          <h2 class="title-lg">I'm a new graduate Full-Stack Developer with over 2 years of experience.</h2>

          <p class="body-md section-text">
            I have a bachelor's degree in Computer Science from Eskişehir Technical University and I code websites from
            scratch. I have worked as a full-stack developer for 2 years using Springboot for back-end and Angular for
            front-end development.
          </p>

          <ul class="about-list">

            <li>
              <p class="list-text">
                <strong class="strong title-md">10+</strong> Project Completed
              </p>
            </li>

            <li>
              <p class="list-text">
                <strong class="strong title-md">1000+</strong> Hours of Coding
              </p>
            </li>

          </ul>

          <div class="wrapper">
            <a routerLink="/contact" class="btn btn-primary">Contact Me</a>

            <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a>
          </div>

        </div>

      </div>
    </section>





    <!--
      - #SKILL
    -->

    <section class="section skill" aria-labelledby="skill-label">
      <div class="container">

        <div class="skill-content">

          <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

          <ul class="skill-list">

            <li>
              <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="logo-html5"></ion-icon>
                </div>

                <h2 class="card-title">HTML</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="logo-css3"></ion-icon>
                </div>

                <h2 class="card-title">CSS</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <ion-icon name="logo-javascript"></ion-icon>
                </div>

                <h2 class="card-title">Javascript </h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="logo-angular"></ion-icon>
                </div>

                <h2 class="card-title">Angular</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="code-outline"></ion-icon>
                </div>

                <h2 class="card-title">Springboot</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <ion-icon name="analytics-outline"></ion-icon>
                </div>

                <h2 class="card-title">SQL</h2>

              </div>
            </li>

          </ul>

        </div>

        <figure class="skill-banner">
          <img src="assets/images/foto1.png" width="581" height="657" loading="lazy"
               alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
        </figure>

      </div>
    </section>





    <!--
      - #CTA
    -->

    <section class="cta">
      <div class="container">
        <h2 class="title-lg">Intrested working with me?</h2>

        <a routerLink="/contact" class="btn btn-tertiary">Contact Now</a>
      </div>
    </section>





    <!--
      - #TESTIMONIALS
    -->

    <section class="section testi" aria-labelledby="testi-label">
      <div class="container">

        <h2 class="headline-md section-title text-center" id="testi-label">Experiences</h2>

        <ul class="slider">

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/estülogo.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                     class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  I have successfully graduated from Eskişehir Technical University with the bachelors degree in
                  Computer Science. My GPA is 2.5 and I have developed SENTIE as my thesis project.
                </blockquote>

                <p class="client-name">Eskişehir Technical University</p>

                <p class="client-title">Bachelor's Degree</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/felecelogo1.png" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                     class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  I have involved in an in-house project within the company. I have engaged in backend
                  development using Java Spring, but I have previously worked on frontend development using Angular as
                  well.
                </blockquote>

                <p class="client-name">FELECE Teknoloji</p>

                <p class="client-title">Software Developer</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/aal_logo.png" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                     class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  I have graduated from Sıhhiye Atatürk Anadolu Lisesi which is in %1 in Türkiye with 89 points out of
                  100 in 2017. Plus, I had a preparation year which I learnt English and Russian.
                </blockquote>

                <p class="client-name">Sıhhıye Atatürk Anadolu Lisesi</p>

                <p class="client-title">High School Degree</p>

              </div>

            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">

              <figure class="card-media">
                <img src="assets/images/esterlogo.jpg" width="100" height="100" loading="lazy" alt="ESTER logo"
                     class="img-cover">
              </figure>

              <div class="card-content">

                <blockquote class="body-sm">
                  I have worked as a Software Developer Intern in ESTER Teknoloji for 90 days. I have developed
                  backend services for the companies' projects and I had a chance to work with Web APIs using .NET.
                </blockquote>

                <p class="client-name">ESTER Teknoloji</p>

                <p class="client-title">Software Developer Intern</p>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>
